---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();
  
  const { data } = await storyblokApi.get('cdn/links', {
    version: 'draft',
  });
  
  const links = Object.values(data.links);
  
  return links.map((link) => {
    return {
      params: { slug: link.slug === 'home' ? undefined : link.slug },
    };
  });
}

const { slug } = Astro.params;
const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/${slug === undefined ? 'home' : slug}`, {
  version: 'draft',
});

const story = data.story;
---

<html lang="de">
  <head>
    <title>{story.name || 'Storyblok & Astro'}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <StoryblokComponent blok={story.content} />
  </body>
</html>